$main-font: #141e27;
$main-secondary: #aab8c1;
$offset-white: #ebebeb;
$main-black: #141414;
$background-color: #070a0e;
$foreground-color: #ffffff;
$sub-foreground-color: #f3f3f3;
$button-color: #00d395;

:root {
    // RIGHT, will work in all Sass versions.
    --main-font: #{$main-font};
    --main-secondary: #{$main-secondary};
    --button-color: #{$button-color};
    --foreground-color: #{$foreground-color};
    --sub-foreground-color: #{$sub-foreground-color};
    --offset-white: #{$offset-white};
    --main-black: #{$main-black};
    --background-color: #{$background-color};
}
