form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    font-family: 'Ubuntu';
    overflow-y: auto;
    overflow-x: visible;
    max-height: 70vh;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--dark-pink);
        position: absolute;
        height: 70%;
        right: -10px;

    }

    &::-webkit-scrollbar {
        background-color: var(--dark-pink);
        position: absolute;
        height: 70%;
        right: -10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--darker-pink);
    }

    label {
        font-size: #{$base-size * 4}pt;
        color: var(--offset-white-pink);
        margin: 30px 0 5px 0;
        width: 100%;
    }

    input,
    select,
    textarea {
        outline: none;
        border: none;
        width: 100%;
        height: 55px;
        margin: 8px 0 0 0;
        background: var(--light-pink);
        font-size: #{$base-size * 3.5}pt;
        padding: 5px 0 5px 25px;
        border-radius: 10px;
        border-left: 15px solid transparent;
        position: relative;

        &:active,
        &:focus {
            border-left: 15px solid var(--main-light-blue);
        }
    }

    input[type='submit'] {
        width: 30%;
        border-left: none;
        background: var(--main-light-blue);
        font-family: 'Ubuntu';
        color: var(--offset-white-pink);
        transition: 0.2s;
        padding: 0;

        &:hover {
            cursor: pointer;
            transform: translateY(-10px);
        }

        &:active,
        &:focus,
        &:hover {
            border-left: none;
        }
    }
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    position: relative;

    label {
        width: auto;
        position: relative;
    }

    .error {
        display: flex;
        align-items: center;
        margin: 40px 0 15px 20px;
        color: var(--darker-pink);
        font-size: #{$base-size * 3}pt;
    }
}

.submit {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-info {
    display: flex;


    h4 {
        text-align: center;
        margin: 0;
        color: var(--main-dark-blue);
        margin-top: 30px;
        padding: 25px !important;
        background: var(--gray-pink);
        position: absolute;
        top: 30px;
        border-radius: 10px;
        justify-self: center;
        align-self: center;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--darker-pink);
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--darker-pink);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--darker-pink);
}
